<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>bbsの利用規約</title>
</head>
<body>
  <pre style="word-wrap: break-word; white-space: pre-wrap;">
1.用語の定義
  1.「本掲示板」とは、Yuki BBSのことをいいます。
  2.「本サービス」とは、本掲示板のサービスのことをいいます。
  3.「規約」とは、本規約に基づき当サイトでの本サービスを受けるための契約をいいます。
  4.「利用者」とは本サイトと規約を締結している方をいいます。なお、利用者は本サービスを利用されているものとみなします。
    
2.規約の適用及び変更
  1.本規約は、すべての利用者に適用されます。本規約に同意いただけない場合、本サービスの一部の利用を制限させていただきます。
  2.本規約の内容を理解し、遵守することができない場合、本サービスの一部の利用を制限させていただきます。
  3.本掲示板の運営、または総務局運営委員会は本規約をいつでも任意に変更することができ、利用者はこれを承諾するものとします。
    
3.本サービスの提供
  1.本掲示板は利用者に対し、本サービスを提供致します。
    
4.アカウント
  1.「アカウント」とはシード値から生成されるランダムな英数字で構成されたものを言います。
  2.「本アカウント」とは利用者が主に利用するアカウントのことを言います
  3.「サブアカウント」とは、本アカウントと別の目的で利用するアカウントのことを言います。
  4.サブアカウントへ権限を付与する場合、現在各利用者が保持している最高の権限未満に限定されます。
  5.サブアカウントの所持は4つまでとします。それ以上所持する場合、総務局に申請しなければなりません。
  6.高等権限をサブアカウントで所持する場合、以下の制限がかけられます。
    サミット：モデレーターを2つのみ
    モデレーター：マネージャーを1つのみ
      
5.権限等
  1.本掲示板では下から順に青シード、スピーカー、マネージャー、モデレーター、サミット、運営のように権限が定められています。
  2.「高等権限」とはモデレーター以上の権限のことを言います。
  3.本掲示板では禁止事項の内容と違反した回数により一定の権限まで降格等のペナルティを受けます。これを「処罰」といいます。
  4.本掲示板では基準を満たすと昇格可能になります。また、マネージャー以上は昇格面接を受け、合格する必要があります。
  ∟昇格面接に一度合格していた場合、禁止事項の違反がない限り、再度モデレーター以上に昇格することができます。
  　ただし、もう一度同じ権限とは限りません。
    
6.作成・アカウント管理方法
  1.「シード値」とは本サイトを利用するにあたって、必要であるランダムな文字を8文字以上並べたパスワードのことをいいます。
  2.利用者は、シード値を厳重に管理するものとし、第三者に知られないようにしなければなりません。第三者にシード値を知られたと感じる場合は、直ちにシード値を変更するものとします。
  3. アカウント作成についての違反行為
    ・荒らし目的でアカウントを大量に作成
    ・故意的なシード値の漏洩
    ・乗っ取り行為
    ・シード値の譲渡、交換など
    ・以下のような内容が記載されたIDを故意的に生成
    　・暴力的な言葉が入っているもの
  　  ・倫理的に問題のある言葉が入っているもの
  　  ・差別的な言葉が入っているもの
  　  ・性的な言葉が入っているもの
    
7.禁止事項
雑談、バトルスタジアムに関わらず以下の要素を含む行為をした場合、注意、または処罰を実行します。
  1.投稿について
  補足:投稿は以下の要素を含みます。
  ・名前
  ・メッセージ
  ・コンテンツ
  ・add
    定義:コンテンツとは、画像,動画,音声ファイル等全てのファイル,発言,名前を言います。
    また本掲示板に関連したコミュニティサイト(例:ベルバード)でも適用されます。
  ・暴力的な投稿
  ・倫理的に問題のある投稿
  ・差別的な投稿
  ・性的な投稿
  ・スパム的な投稿
  ・他の利用者のプライバシーを侵害する投稿
  ・相手を批判するような投稿
  ・個人情報に関する投稿
  ・枠からはみ出したり、掲示板を重くするような投稿
  ・名前と投稿の欄の幅の比率を過度に変えるような名前の設定や投稿
  ・運営を怒らせるような投稿
  ・デマ情報を意図的に投稿
  ・コンテンツポリシーに違反する投稿
    ∟コンテンツポリシーは以下の内容を含みます。
    ・公序良俗に反するコンテンツ
    ・不適切な画像や動画
    ・違法なコンテンツ
  2.権限について
  ・本人の許可なしに降格
  補足:処罰での降格は本人の許可なしで行うことができる。
  ・権限の上下関係による差別
  ・荒らしを意図的に昇格
  ・権限を濫用する行為
  3.コマンドについて
  ・カラーコマンドを使用し意図的に背景色と同化するような色や他利用者が見にくいと思った色にすること
  └(削除検討　理由：名無しと同様な扱いが可能な為。)
  ・喧嘩に使用すること
  ・発動しないコマンドを故意に投稿する行為
  4.アカウントについて
  ・荒らし目的でアカウントを大量に作成
  ・意図的なシード値の漏洩
  ・乗っ取り行為
  ・シード値の譲渡、交換など
  ・以下のような内容に該当するIDを意図的に生成
  　・暴力的な言葉が入っているもの
  　・倫理的に問題のある言葉が入っているもの
  　・差別的な言葉が入っているもの
  　・性的な言葉が入っているもの
  5.その他
  ・雑談スペースでの喧嘩
  ・他利用者への強制
  ・なりすまし行為
  ・乗っ取りを目的としたIDマイニングをすること
    
8.免責事項
  1.利用者のシード値が第三者によって使用されていた場合、利用者が被った損害について、利用者の故意や過失の有無にかかわらず、本掲示板運営は一切責任を負いません。
  2.第６条の規定による利用者の個人情報が第三者によって流出された場合、利用者の損害について、利用者の故意や過失の有無にかかわらず、本掲示板運営は一切責任を負いません。
9.更新情報
このルールは定期的に更新される可能性があります。更新された場合、本掲示板の話題に通知されます。
  </pre>
</body>
</html>
